<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DVLDConnection"
             connectionString="Server=.;Database=DVLD;User Id=sa;Password=K*159357;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>